@model ToDoListViewModel

<style>
    .card{
        margin: 10px 0;
        cursor:pointer;
    }
</style>

@foreach(var item in Model.Items)
{
    <div class="card todo-item" data-id="@(item.ID)">
        <div class="card-body">
            <h4 class="card-title">@item.Title</h4>
        </div>
    </div>
}

<script>
$(function () {
    //ToDoをクリック
    $('.todo-item').on('click', function () {
        //ToDoのIDをData属性から取得
        const id = $(this).data('id');

        //ToDoの詳細画面に遷移
        window.location = '@Url.Action("Detail", "ToDo")' + '?id=' + id;
    });
})
</script>